body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;

  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Media
$breakpoint_lg: 960px;
$breakpoint_md: 720px;
$breakpoint_sm: 540px;

// Blocks
@import "./blocks/page";
@import "./blocks/container";
@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/main";
@import "./blocks/form";
@import "./blocks/input";
@import "./blocks/btn";
@import "./blocks/msg";
@import "./blocks/result";
@import "./blocks/city";
@import "./blocks/footer";
@import "./blocks/video";
@import "./blocks/overlay";

